<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h1><%= title %></h1>
	<div class="container">
		<h3>System Information:</h3>
		<p><%= os %></p>
		<h3>IP address:</h3>
		<p><%= ip %></p>
		<h3>Language:</h3>
		<p><%= lang%></p>
	</div>
</body>
</html>